.activity-editor-header {
	align-items: center;
	background: $white;
	border-bottom: 1px solid $light-gray-500;
	display: flex;
	height: $header-height;
	justify-content: space-between;
	left: 0;
	// Stick the toolbar to the top, because the admin bar is not fixed on mobile.
	position: sticky;
	right: 0;
	top: 0;

	// On mobile, the main content area has to scroll,
	// otherwise you can invoke the over-scroll bounce on the non-scrolling container.
	@include break-small {
		padding: $grid-unit;
		position: fixed;
		top: $admin-bar-height-big;
	}

	@include break-medium() {
		padding: 0;
		top: $admin-bar-height;
	}

	.iframe &,
	.iframe.auto-fold & {
		top: 0;
		left: 0;
	}

	.activity-editor-header__user_header {
		display: inline-flex;
		align-items: center;

		.activity-editor-header__user-avatar {
			display: flex;
			align-items: center;
			align-self: stretch;
			border: none;
			background: #fff;
			color: #fff;
			border-radius: 0;
			height: auto;
			width: 56px;
			padding: 3px;

			&:hover,
			&.components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
				box-shadow: none;
			}
		}

		.activity-editor-header__title {
			margin: 20px 0 20px 10px;
		}
	}

	.activity-editor-header__settings {
		display: inline-flex;
		align-items: center;

		.activity-editor-header__publish-button,
		.activity-editor-header__sidebar-toggle {
			margin-right: 1em;
		}

		.activity-editor-header__sidebar-toggle {

			&.components-button:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover,
			&.components-button:focus:not(:disabled) {
				box-shadow: none;
			}

			.block-editor-editor-skeleton.sidebar-visible & {
				background-color: $dark-gray-500;
				color: $white;
			}
		}
	}
}

@include editor-left(".activity-editor-header");
