.block-editor-editor-skeleton.sidebar-invisible .activity-editor-sidebar {
	display: none;
}

.block-editor-editor-skeleton__sidebar {
	z-index: 1;
}

.activity-editor-sidebar {
	background: $white;
	border-left: $border-width solid $light-gray-500;
	bottom: 0;
	color: $dark-gray-500;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: $sidebar-width;
	z-index: z-index(".edit-site-sidebar");

	@include break-small() {
		-webkit-overflow-scrolling: touch;
		height: auto;
		overflow: auto;
		top: $admin-bar-height-big + $header-height;
	}

	@include break-medium() {
		top: $admin-bar-height + $header-height;
	}

	.iframe & {
		top: $header-height;
		width: 100vw;
	}

	@include break-small() {
		display: block;
	}

	> .components-panel {
		border-left: 0;
		border-right: 0;
		margin-bottom: -1px;
		margin-top: -1px;

		> .components-panel__header {
			background: $light-gray-200;
		}
	}

	.block-editor-block-inspector__card {
		margin: 0;
	}
}

.activity-editor-sidebar-main-panel-schedule__cancel.components-button.is-link,
.activity-editor-sidebar-main-panel-postingroups-selection__cancel {
	vertical-align: middle;
	margin-left: 5px;

	.dashicons-dismiss {
		color: $alert-red;
	}
}

.activity-editor-sidebar-main-panel-postingroups-autocomplete .components-placeholder__input {
	margin: 0 8px 0 0;
	flex: 1 1 auto;
}
