/* CSS for the bp/members block */
[data-type="bp/members"] {

	.components-placeholder {

		&.is-appender {
			min-height: 0;
		}

		input.components-placeholder__input {
			flex: 1 1 auto;
			border-radius: 2px;
			border: 1px solid #757575;
			padding: 6px 8px;
		}
	}
}
