/* CSS for the bp/members block */
[data-type="bp/members"] {

	.components-placeholder {

		&.is-appender {
			min-height: 0;

			.components-placeholder__label:empty {
				display: none;
			}
		}

		input.components-placeholder__input {
			flex: 1 1 auto;
			border-radius: 2px;
			border: 1px solid #757575;
			padding: 6px 8px;
		}
	}

	.member-content {

		.is-right {
			right: -2px;
		}
	}
}

.bp-block-members {

	.member-content {
		display: flex;
	}

	img.avatar {
		width: auto;
		height: auto;
	}

	&.avatar-none {
		.item-header-avatar {
			display: none;
		}

		.member-description {
			width: calc( 100% - 44px );
		}
	}

	&.avatar-full {
		min-height: 150px;

		.item-header-avatar {
			width: 180px;
		}

		.member-description {
			width: calc( 100% - 224px );
		}
	}

	.user-nicename {
		display: block;
	}

	&.avatar-thumb {

		.member-content {
			min-height: 50px;
		}

		.item-header-avatar {
			width: 70px;
		}

		.member-description {
			width: calc( 100% - 114px );
		}
	}
}
