/* CSS for the bp/members block */
[data-type="bp/members"] {

	.components-placeholder {

		&.is-appender {
			min-height: 0;
		}

		input.components-placeholder__input {
			flex: 1 1 auto;
			border-radius: 2px;
			border: 1px solid #757575;
			padding: 6px 8px;
		}
	}
}

.bp-block-members {

	.member-content {
		display: flex;
	}

	img.avatar {
		width: auto;
		height: auto;
	}

	&.avatar-none .item-header-avatar {
		display: none;
	}

	&.avatar-full {
		min-height: 150px;
	}

	&.avatar-full .item-header-avatar {
		width: 180px;
	}

	.user-nicename {
		display: block;
	}

	&.avatar-thumb .member-content {
		min-height: 50px;
		align-items: center;
	}

	&.avatar-thumb .item-header-avatar {
		width: 70px;
	}
}
